name: Deploy PHP App to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.PI_SSH_KEY }}

    - name: Deploy to Raspberry Pi
      run: |
        echo "Deploying deployment.php to Raspberry Pi..."
        scp -o  deployment.php ${{ vars.PI_USER }}@${{ vars.PI_HOST }}:/home/${{ vars.PI_USER }}/deployment.php
        ssh -o ${{ vars.PI_USER }}@${{ vars.PI_HOST }} 'php /home/${{ vars.PI_USER }}/deployment.php'

